.section-form {
  background-color: $color-primary;
  &__container {
    @include container-center;

    .form {
      display: grid;
      grid-gap: $gap;
      grid-template-columns: 1fr 1fr 1fr;
    }

    input {
      max-height: 60px;
      background-color: lighten($color-primary, 5%);
      margin: 30px 0;
      border: none;
      padding: 21px 21px 20px 21px;
      width: 100%;
      outline: none;
      border-bottom: 2px solid darken($color-gray, 7%);
      transition: 0.5s;

      &::placeholder {
        color: rgba($color-gray, 0.9);
      }
      
      &:hover,
      &:focus {
        background-color: $color-gray;
        padding: $gap;
        border: 1px solid lighten($color-gray, 15%);
        border-bottom: 2px solid $color-light;
        color: $color-light;
      }
      &:hover::placeholder,
      &:focus::placeholder {
        color: $color-light;
      }
    }
    #yourname::placeholder {
      color: $color-light;
    }
    
    .btn {
      color: $color-light;
      border: none;
      margin: 30px 0;
      width: 100%;
      font-size: $font-size;
      border-bottom: 2px solid $color-gray;
      border-radius: 1px;

      &:hover,
      &:focus {
        border: 2px solid $color-light;
        
      }
    }
  }
}
